{% extends 'base.html.twig' %}

{% block title %}Listes des catégories
{% endblock %}

{% block body %}
	<h1>Listes des catégories</h1>
	<a class="btn btn-primary" href="{{ path('app_categories_new') }}">Ajouter une catégorie</a>
	{{form(form)}}
		<table>
			<tr>
				{# sorting of properties based on query components #}
				<th>{{ knp_pagination_sortable(categories, 'Id', 'c.id') }}</th>
				<th {% if categories.isSorted('c.name') %} class="sorted" {% endif %}>
					{{ knp_pagination_sortable(categories, 'Name', 'c.name') }}
				</th>
			</tr>

			{# table body #}
			{% for category in categories %}
				<tr {% if loop.index is odd %} class="color" {% endif %}>
					<td>{{ category.id }}</td>
					<td>
						<a href="{{ path('app_categories_show', { slug: category.slug} )}} ">
							{{category.name}}
						</a>
					</td>

				</tr>
			{% endfor %}
		</table>


		<div class="navigation">
			{{ knp_pagination_render(categories) }}
		</div>

	{% endblock %}
